<nav>
    <div class="site-title">

        <a href="/">
            <h1 class='text-shadow-drop-center'>My Notes</h1>
        </a>
        <p style=' font-weight:bold;' class='text-shadow-drop-center'>This is my SITE</p>
    </div>
    <ul class='text-shadow-drop-center'>
        <li><a href="/">Blogs</a></li>
        <li class='about'><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>